

.dha{
    background-color: black;
    color: white;
    width: 1500px;
    height: 70px;
}
.head{
    color: white;
    font-weight: bold;
    text-align: left;
    font-size: 25px;
    margin-left: 30px ;
    position: relative;
    top: 20px;
}
    

.navsection{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
margin-left: 800px;
top: 10px;


    
}
.su{
    width: 65px;
    height: 8px;
    position: relative;
    margin-left: 860px;
    top: 8px;
}

