

.dha{
    background-color: black;
    color: white;
    width: 1500px;
    height: 70px;
}
.head{
    color: white;
    font-weight: bold;
    text-align: left;
    font-size: 25px;
    margin-left: 30px ;
    position: relative;
    top: 20px;
}
    

.navsection{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
margin-left: 800px;
top: 10px;


    
}
.su{
    width: 65px;
    height: 8px;
    position: relative;
    margin-left: 860px;
    top: 8px;
}
.sa{
    position: relative;
    margin-left: 1340px;
    top: -45px;
    width: 110px;
    height: 35px;
}
hr{
    position: relative;
    top: -10px;;
}
.super{
    background-color: black;
    color: white;
    position: relative;
    top: -19px;
    height: 650px;
}
.like{
    position: relative;
    margin-left: 1250PX;
    top: 70px;
}
.kulki{
    color: aqua;
}
.re{
    text-align: center;
     position: relative;
     top: -50px;
}
.sek{
    width: 192.04px;
    height: 57.61px;

}
.jsx{
    position: relative;
    margin-left: 200px;
}
.jsx1{
    position: relative;
    margin-left: -200px;
    top: -100px;
    
}
.bc{
    position: relative;
    margin-left: -1000px;
    top: -140px;
}
.rew{
    height: 100px;
    width: 200px;
    position: relative;
    margin-left: 1100px;
    top: -430px; 
    
    }
    

