.header{
    background-color: black;
    color: white;
    
}
.logo{
    color: white;
    font-weight: bold;
    text-align: left;
    font-size: 25px;
    margin-left: 30px ;
    position: relative;
    top: 25px;
}

.img{
    margin-right: -1400px;
    position: relative;
    top: -10px;
    
    
}
hr{
    position: relative;
    top: -10px;;
}
.spash{
    position: relative;
    top: -19px;
}

.footer{
    position: relative;
    top: 50px;
}




.title{
    background-color: black;
    color: white;
    height: 800px;

}
.light{
    height: 56.48px;
    width: 56.48px;
    text-align: left;
    margin-left: 1200px;
    position: relative;
    top: 25px;
}

.tes{
    width: 192.04px;
    height: 57.61px;

}
.ab{
    margin-right: 1050px;
    position: relative;
    top: 10px;
}
.xy{
    color: aqua;
}
.parsh{
    background-color: whitesmoke;
    position: relative;
    top: -40px;
    height: 1140.4px;
    
    
}
.super{
    color: aqua;
}

p{
    text-align: justify;
    margin-left: 500px;

}

.rushi2{
    background-color:rgba(240, 238, 238, 0.797) ;
    height: 225.92px;
    width: 247.39px;
    position: relative;
    margin-left: 610px;
    top: -55px;
    border-radius: 15px;
    
       
}
.sai{
    position: relative;
    margin-right:8px;
    bottom: -25px;
    
}
.rushi2 h5{
    position: relative;
    top: 25px;
    font-weight: bolder;
    
}
.rushi2 h6{
    position: relative;
    top: 20px;
    color: rgb(178, 176, 176);
}